.page-top{
    width: 100%;
}

.Photo1Miss{
    width: 100%;
    height: 370px;
}

.Photo2{
    width: 30%;
    height: 30%;
    border-radius: 666px;
    margin-top: -80px;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.Photo2Miss{
    border-radius: 660px;
    margin-top: -250px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: 280px;
}

.logoAsmada{

    position: relative;
    text-align: center;
    z-index: 2;
}

.resume-Titre{
    text-align: center;
}

.AjoutMiss {
    background-color: #ebaa9d;
    padding: 5px;
    width: 530px;
    margin-left: 367px;
    border-radius: 20px;
}

.LblTitreMiss, .LblDuree, .LblLieu, .LblDom, .LblDesc, .LblImg {
    text-decoration: underline
}

.TxtTitreMiss, .TxtDuree, .TxtLieu, .TxtDom, .TxtDesc, .ZoneGlissDep {
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    width: 500px;
}

.TxtDesc{
    height: 300px;
}

.BtnAjout, .BtnAnnul {
    border-radius: 5px;
    background-color: #5E2F2F;
    color: white;
    border: none;
    margin-top: 10px;
}

.BtnAnnul {
    margin-left: 20px;
}

.BtnAjout {
    margin-left: 358px;
}

.ZoneGlissDep {
    height: 100px;
    background-color: white;
    text-align: center;
    line-height: 100px;
}
