header{
    background-color: #FCD65C;
}

nav{
    height: 60px;
    background-color: #5E2F2F;
}
.liste {
    list-style-type: none;
    background-color: #5E2F2F;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    position: relative;
    margin: 0;
}

.items{
        margin-right: 4%;
        margin-top: 20px;
        color:aliceblue;
        cursor: pointer;
        font-size: 17px;
}


.bgm{
    display: none;
}


.Article1{

    background-color: #C49990;
    margin-top: 20px;
    MARGIN-LEFT: 20px;
    MARGIN-RIGHT: 20px;
    border-radius: 25px;
    width: 97%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.Presentation {
    background-color: #F8F1EF;
    PADDING-BOTTOM: 15px;
    padding: 30px;
    border-radius: 25px;
    MARGIN-TOP: 15px;
    
    width: 35%;
    height: 230px;
}

.Picturs {
    PADDING-BOTTOM: 15px;
    padding-top: 15px;
}

.Pict{

    width: 290px;
    MARGIN-RIGHT: 30px;
    height: 200px;
    border-radius: 25px;

}

.Bouton{
    justify-content: center;
    text-align: center;
    margin-top: 18px;

}

.submit{
    background-color: #5E2F2F;
    border: #5E2F2F;
    border-radius: 25px;
    padding: 15px;
    color: white;

}




.Article2{

    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    MARGIN-LEFT: 20px;
    MARGIN-RIGHT: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    width: 97%;
    PADDING-RIGHT: 10px;
    padding-left: 10px;
}


.Contact{
    background-color: #C49990;
    PADDING-BOTTOM: 15px;
    border-radius: 25px;
    MARGIN-TOP: 15px;
    margin-bottom: 15px;
    width: 15%;
    

}

.listeContact{
    list-style-type: none;
    height: 100%;
    position: relative;
    margin: 0;

}

.itemsContact{
 
        margin-right: 5%;
        margin-top: 20px;
        color:#5E2F2F;
        cursor: pointer;
        font-size: 17px;

}


.Partenaires{
    
    background-color: #C49990;
   PADDING-BOTTOM: 15px;
    padding-top: 15px;
    border-radius: 25px;
    MARGIN-TOP: 15px;
    margin-bottom: 15px;
    WIDTH: 80%;
    justify-content: center;
    /*min-height: 100vh; */

}
.textParag{
    text-align: center;
    color:#5E2F2F;
    font-size: 20px;
}

.PicParten{
   display: flex;
   justify-content: space-around;
   flex-direction: row-reverse;
   flex-wrap: wrap;
   align-items: center;

}

.LogPict {
    width: 150px;
    height: 100px;
}


footer{
    position:absolute;
    bottom: 0;
    background-color: #FCD65C;  
    height: 120px;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 8px 0;
   bottom: auto;
}

footer ul{

    list-style: none;
    margin-bottom: 3%; 
}

footer ul li { 
    padding-bottom: 15px;
    padding-top: 10px;
}
.containerFooter{
    list-style-type: none;
    
    display: flex;
    justify-content:space-around;
    justify-items: center;
    position: relative;
    margin: 0;
}

.figurlignefooter{
    text-decoration: none;
    color: #000000;
}


@media screen  and (max-width:825px) {

    .liste {
        flex-direction: column;
        height: 250px;
    }
    
    .items:nth-child(1){
        margin-top: 0px;
    }
    .items{
        height: 10px;
        width: 100%;
        margin-top: 30px;
        line-height: 10px;
    }
    .bgm{
        display: block;
        position: absolute;
        right: 30px;
        top: 20px;
        color: #5E2F2F;
        background-color: #FCD65C;
        height: 100%;;
        cursor: pointer;
        HEIGHT: 40px;
        width: 50px;
    }

    footer {
        margin: 0;
        padding: 0;
        height: 200px;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        font-size: 14px;
    }
    .footer_col{
        justify-content: center;  
        width: 100%;  
    }
    .containerFooter{
        display: grid;
        width: 100%;
        text-align: center;
        padding-bottom: 0px;
        padding-top: 23px;
    }
    
    footer ul li {
        padding-bottom: 0px;
    }

}

