.page-top{
    width: 100%;
}

.Photo1Miss{
    width: 100%;
    height: 370px;
}

.Photo2{
    width: 30%;
    height: 30%;
    border-radius: 666px;
    margin-top: -80px;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.Photo2MissDet{
    border-radius: 660px;
    margin-top: -350px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-left: 650px;
}

.logoAsmada{

    position: relative;
    text-align: center;
    z-index: 2;
}

.resume-Titre{
    text-align: center;
}

.MissionAssoDetail {
    background-color: #F5E4C6;
    margin-top: 50px;
    border-radius: 20px;
    margin-left: 200px;
    width: 900px;
    padding: 10px;
}

.TitreMiss {
    text-align: center;
    color: #5E2F2F;
}

.DureeMiss, .LieuMiss, .ThemeMiss, .Descrip {
    color: #6E2C00;
    text-decoration: underline;
}

.DateDebut, .DateFin {
    width: 200px;
    margin-left: 5px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
}

.Dispo {
    background-color: #F7B783;
    width: 590px;
    padding: 5px;
    margin-left: 30px;
    border-radius: 10px;
    height: 50px;
}

.TrancheDispo, .TrancheDispo2 {
    color: black;
}

.btnQuest, .btnPostu {
    border-radius: 10px;
    background-color: #5E2F2F;
    color: white;
    border: none;
}

.btnPostu {
    margin-left: 20px;
}

.btnQuest {
    margin-left: 650px;
}