.page-top{
    width: 100%;
}

.Photo1Miss{
    width: 100%;
    height: 370px;
}

.Photo2{
    width: 30%;
    height: 30%;
    border-radius: 666px;
    margin-top: -80px;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.Photo2Miss{
    border-radius: 660px;
    margin-top: -250px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: 280px;
}

.logoAsmada{

    position: relative;
    text-align: center;
    z-index: 2;
}

.resume-Titre{
    text-align: center;
}

.MissionNum2A, .MissionNum1A, .MissionNum3A, .MissionNum4A {
    margin-left: 30%;
}

.MissionNum2A, .MissionNum1A, .MissionNum3A, .MissionNum4A {
    margin-top: 3%;
}

.TitreMission1A /*,.TitreFiltresRech*/ {
    font-size: 25px;
    color: black;
}

.MissionNum1A, .MissionNum2A, .MissionNum3A, .MissionNum4A{
    padding: 15px;
    border-radius: 20px;
    width: 500px;
    background-color: #ebaa9d;
}

footer {
    position: sticky;
    margin-top: 100px;
}

.btnModif, .btnSupp, .btnSuppT, .btnModifT, .btnAjouterMiss {
    border-radius: 10px;
    text-align: center;
    border: none;
    background-color: #5E2F2F;
    color: white;
}

.btnModif, .btnSupp, .btnSuppT, .btnModifT {
    width: 20%;
}

.btnAjouterMiss {
    width: 13%;
}

.btnAjouterMiss {
    margin-left: 80%;
}

.btnSupp {
    margin-left: 16.4%;
}

.btnModif {
    margin-left: 21.3%;
}

.btnSuppT {
    margin-left: 16%;
}

.btnModifT {
    margin-left: 21%;
}

.btnSuppT, .btnModifT, .btnAjouterMiss {
    text-decoration: none;
}