.page-top{
    width: 100%;
}

.Photo1Miss{
    width: 100%;
    height: 370px;
}

.Photo2{
    width: 30%;
    height: 30%;
    border-radius: 666px;
    margin-top: -80px;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.Photo2Miss{
    border-radius: 660px;
    margin-top: -250px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: 280px;
}

.logoAsmada{

    position: relative;
    text-align: center;
    z-index: 2;
}

.resume-Titre{
    text-align: center;
}

.MissionNum2, .MissionNum4 {
    margin-left: 53%;
    margin-top: -20.5%;
}

.MissionNum1, .MissionNum3 {
    margin-left: 7%;
}

.MissionNum3 {
    margin-top: 5%;
}

.TitreMission1 {
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.MissionNum1, .MissionNum2, .MissionNum3, .MissionNum4 {
    padding: 0.5%;
    border-radius: 20px;
    height: 260px;
    width: 500px;
    background-color: #C49990;
}

footer {
    position: sticky;
    margin-top: 100px;
}