.page-top{
    width: 100%;
}

.Photo1Miss{
    width: 100%;
    height: 370px;
}

.Photo2{
    width: 30%;
    height: 30%;
    border-radius: 666px;
    margin-top: -80px;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.Photo2Miss{
    border-radius: 660px;
    margin-top: -250px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-left: 280px;
}

.logoAsmada{

    position: relative;
    text-align: center;
    z-index: 2;
}

.resume-Titre{
    text-align: center;
}

.ModifMiss {
    background-color: #ebaa9d;
    padding: 5px;
    width: 530px;
    margin-left: 365px;
    border-radius: 20px;
}

.LblTitreMissModif, .LblDureeModif, .LblLieuModif, .LblDomModif, .LblDescModif {
    text-decoration: underline
}

.TxtTitreMissModif, .TxtDureeModif, .TxtLieuModif, .TxtDomModif, .TxtDescModif, .ZoneGlissDep {
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    width: 500px;
}

.TxtDescModif{
    height: 300px;
}

.BtnModif, .BtnAnnulModif {
    border-radius: 5px;
    background-color: #5E2F2F;
    color: white;
    border: none;
    margin-top: 10px;
    width: 17%;
    text-align: center;
}

.BtnAnnulModif {
    margin-left: 3%;
    text-decoration: none;
}

.BtnModif {
    margin-left: 61%;
}

.ZoneGlissDep {
    height: 100px;
    background-color: white;
    text-align: center;
    line-height: 100px;
}