.ModifActu {
    background-color: #C49990;
    padding: 5px;
    width: 530px;
    margin-left: 400px;
    border-radius: 20px;
}

.SepModifActu {
    width: auto;
    background-color: lightgrey;
}

.LblTitreActuModif, .LblResuActuModif, .LblDescActuModif {
    text-decoration: underline
}

.TxtTitreActuModif, .TxtResuActuModif, .TxtDescActuModif {
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    width: 500px;
}

.TxtDescActuModif{
    height: 300px;
}

.TxtResuActuModif{
    height: 200px;
}

.BtnModifActu, .BtnAnnulActuModif {
    border-radius: 5px;
    background-color: #5E2F2F;
    color: white;
    border: none;
}

.BtnAnnulActuModif {
    margin-left: 16px;
}

.BtnModifActu {
    margin-left: 357px;
}
