.MenuB {
    background-color: #C49990;
    width: 200px;
    height: 360px;
    margin-left: 30px;
    border-radius: 20px;
}


.MenuB input[type='submit'], .BtnDeco {
    width: 70%;
    height: 10%;
    text-align: center;
    margin-left: 17%;
    margin-top: 16%;
    background-color: #5E2F2F;
    border: none;
    color: white;
    padding: 2%;
}

.BtnDeco, .BtnRenseigne {
    text-decoration: none;
}

.MenuB input[type='submit']:focus {
    background-color: #FCD65C;
    color: black;
}

.NomBenvole{
    text-align: center;
}

.InfoBenevole {
    margin-top: -360px;
    margin-left: 250px;
    width: 900px;
    height: 370px;
    background-color: rgb(211, 211, 211);
    padding: 10px;
    border-radius: 20px;
}

.BtnModifInfos {
    position: absolute;
    margin-top: -23%;
    margin-left: 39%;
    background-color: #5E2F2F;
    border: none;
    color: white;
}

.BtnRenseigne {
    text-align: center;
    width: 80%;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #5E2F2F;
}

.ConsultMissions {
    position: absolute;
    text-align: center;
    width: 30%;
    margin-top: -12%;
    margin-left: 33%;
    background-color: #C49990;
    border-radius: 20px;
    padding: 10px;
}

.SepProfil {
    width: auto;
    background-color: lightgrey;
}

.MsgBienvenue {
    color:#5E2F2F;
}

@media screen  and (max-width:825px) {

    .MenuB {
    
        position: absolute;
        margin-top : 50%;
       width: 27%;
       height: auto;
    }

    .MenuB input[type='submit'] {
        width: 60%;
        height: 80%;
        text-align: center;
        font-size: 50%;
        margin-left: 20%;
        margin-top: 30%;
    }
}